In [1]:
import pandas as pd
import numpy as np

In [4]:
# Importing the Healthcare Dataset
df = pd.read_excel('Healthcare.xlsx')
df.head(2)

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,2022-12-31,2023-01-12,Viral Infection,General,MRI,Jay Sinha,2023-01-20,5.0,13234,11910.6
1,27781,2023-01-04,2023-01-12,Typhoid,ICU,MRI,Jaya Yaadav,2023-01-16,4.0,12241,11016.9

In [5]:
# Checking the Columns data types
df.dtypes

Patient_ID                          int64
Admit_Date                 datetime64[ns]
Discharge_Date             datetime64[ns]
Diagnosis                          object
Bed_Occupancy                      object
Test                               object
Doctor                             object
Followup Date              datetime64[ns]
Feedback                          float64
Billing Amount                      int64
Health Insurance Amount           float64
dtype: object

In [8]:
# Clusturing the data by there data types
categoical = df[["Diagnosis","Bed_Occupancy","Test","Doctor"]]
continous = df[["Feedback","Billing Amount","Health Insurance Amount"]]

In [17]:
categoical.describe().T

              count unique               top  freq
Diagnosis      7157      6  Viral Infection   2004
Bed_Occupancy  7157      3           Private  3579
Test           7157      5        Blood Test  2236
Doctor         7157      7         Jay Sinha  1023

In [19]:
continous.describe().T

,count,mean,std,min,25%,50%,75%,max
Feedback,7157.0,4.723543,0.479901,3.5,4.5,5.0,5.0,5.0
Billing Amount,7157.0,26607.891854,25791.931009,1223.0,5454.0,12348.0,43522.0,95867.0
Health Insurance Amount,7157.0,23947.102669,23212.737908,1100.7,4908.6,11113.2,39169.8,86280.3